nav{
    display: flex;
    justify-content: space-around;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/Hero-bg.png');
}
.web{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;

}
.description{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.card{
display: flex;
justify-content: center;
align-items: center;
gap: 80px;
}
.form{
    background-image: url(../assets/handshake.jpg);
}
.support{
    margin-top: 80px;  
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1150px;
    height: 318px;
    margin-top: 50px;
    background-image: url(../assets/handshake.jpg);
    background-size: 1160px 315px;
    
}
.support h3{
color: rgb(15, 71, 121);
font-size: 34px;
font-weight: bold;
margin-top: 10px;
}
.support p{
color: rgb(7, 151, 74);
}
.support-form{
    display:flex;gap: 15px;
}
.support button{
width: 80px;
height: 25px;
border-radius:14px;
}